.socials
	a(href='#', class='fb__link')
		.social.socials__fb
			i.fab.fa-facebook-f
	a(href='#', class='tw__link')
		.social.socials__tw
			i.fab.fa-twitter
	a(href='#', class='in__link')
		.social.socials__in
			i.fab.fa-instagram
	a(href='#', class='gp__link')
		.social.socials__gp
			i.fab.fa-google-plus-g